server:
  port: 8084

spring:
  application:
    name: requests_service

  datasource:
    url: jdbc:postgresql://db_requests:5432/requests_db
    username: user_requests
    password: password_requests
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  sql:
    init:
      mode: always

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
